---
 const personalImageAlt = "Carlos Fraile"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Carlos, aunque la mayoría de mis amigos me llaman <strong>Pandogs</strong>. Desde pequeño, siempre me ha fascinado el mundo de la tecnología y la programación. Fue en <strong>2022</strong> cuando decidí dar el salto y convertí esa curiosidad en mi pasión profesional.
    </p>
<!--
    <p>
     <strong>ThePandogsGames</strong>, un estudio indie en el cual soy uno de los fundadores,
      y mis roles son Programador y Project Manager, realizando la creación y reparto de tareas.
    </p>
  --></br>
    <p>
      Te invito a explorar mis proyectos y conocer más sobre <strong>mi viaje en el desarrollo de software</strong>. Si tienes alguna pregunta o simplemente quieres conectar, <strong>no dudes en contactarme</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

